<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RAG по федеральным нормативным актам{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}?v=5">
    <script src="{{ url_for('static', path='/app.js') }}?v=5" defer></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% include "_auth_modal.html" %}
  </body>
</html>
